.speech {
    font-family: "Times New Roman" ;
    font-size: 13px;
    color:black;
}
.stage-direction {
    font-family: "Calibri" ;
    font-size: 15px;
    color:black;
    background-color: lightskyblue;
}
.name {
    font-family: "Arial" ;
    font-size: 16px;
    color:black;
    
}
.stage-direction.hover{
    background-color:greenyellow;
    color: mediumvioletred;
}
.LADYCAROLINE{
    color: blueviolet;
}
.LADYCAROLINE:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.HESTER:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.HESTER{
    color: orange;
}
.SIRJOHN:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.SIRJOHN{
    color: yellow;
}
h6{
    margin: 10px 0;
}
table, th, td, tr{
    border: solid blue;
    color: brown;
    text-align: left;
    border-collapse: collapse;
    padding: 12px;
    margin: 10px;
}
tr:nth-child(even){
background-color:lightgray;
color:black;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
{ 
   float:left; 
   color:#000;
   background-color:yellow
}
ul.navbar-horizontal a {
   display:block;
   padding:8px
}
ul.navbar-horizontal a:hover { 
   background-color: #555;
   color:red;
}
