.speech {
    font-family: "Times New Roman" ;
    font-size: 13px;
    color:black;
}
.stage-direction {
    font-family: "Calibri" ;
    font-size: 15px;
    color:black;
    background-color: lightskyblue;
}
.name {
    font-family: "Arial" ;
    font-size: 16px;
    color:black;
    
}
.stage-direction.hover{
    background-color:greenyellow;
    color: mediumvioletred;
}
.LADYCAROLINE{
    color: blueviolet;
}
.HESTER{
    color: orange;
}
.SIRJOHN{
    color: yellow;
}
h6{
    margin: 10px 0;
}